.Cart {
  .container {
    display: flex;
    // margin: 0 auto;
    justify-content: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

    .subtotal {
      // width: 90%;
      // margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // font-size: 3rem;
      // padding: 0.5rem;
      font-weight: bold;
    }
    h1 + h1 {
      margin-left: 2em;
    }
  }
  .cart-items {
    width: 40%;
    // margin: 0 auto;
  }
}
