.Header {
  nav {
    padding: 2rem 2rem;
    background: orangered;
    position: sticky;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 99;

    a {
      font-size: 2rem;
      position: relative;

      &.logo {
        font-size: 4rem;
        font-family: 'Staatliches';
      }
      &.cart {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 1rem;
        div {
          height: 30px;
          width: 30px;
          font-size: 18px;
          background: black;
          border-radius: 50%;
          display: grid;
          place-content: center;
          position: absolute;
          top: -14px;
          right: -26px;
        }
      }
    }
  }
}
